priority -50

snippet Erlang "Erlang Gitignore Template"
### Erlang ###
.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
$0
endsnippet
