priority -50

snippet Metals "Metals Gitignore Template"
### Metals ###
# Generated Metals (Scala Language Server) files
# Reference: https://scalameta.org/metals/
.metals/
.bloop/
project/metals.sbt
$0
endsnippet
