priority -50

snippet NetBeans "NetBeans Gitignore Template"
### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
$0
endsnippet
