priority -50

snippet Raku "Raku Gitignore Template"
### Raku ###
# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp

$0
endsnippet
